.header {
	width: 100%;
	height: 5rem;
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0d0d0d;
}

.header a {
	text-decoration: none;
}

.header h1 {
	color: white;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list {
	display: flex;
}

.list button {
	background-color: transparent;
	border-radius: 6px;
	border: 1px solid white;
	margin-left: 0.5rem;
	padding: 0.3rem 1rem;
	color: white;
	cursor: pointer;
}

.list button:hover,
.list button:active {
	background-color: white;
	color: black;
}
